

body{
    background-color: rgba(158, 158, 158, 0.479);
    margin: 0px;
    background-image:radial-gradient(rgb(83, 43, 194), rgba(132, 50, 165, 0.884), rgba(0, 0, 0, 0.753) 80%);
   
    
}

@font-face {
    font-family: alien;
    src: url(../DeadSpace.ttf);
}

td:hover{
    background-color:rgba(240, 2, 2, 0.39);
}

td{
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 170px;
    background-image: url(../img/bg/galaxy.jpg);
    background-size: cover;
    background-position: right center;
    border-bottom: 4px solid rgba(231, 1, 154, 0.945);
}

table{
    
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(56, 55, 55, 0.534);
    border: 2px solid rgba(253, 0, 156, 0.568);
    width: 70%;

    
    
}

.header td{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.123);
}

.header td a{
    color: antiquewhite;
    font-size: 1.1em;
    font-family:cursive;
}

h1{
    color: white;
}

.logo-header{
    height: 90%;
    margin: 0px 10px;
    
}

.logo-header img{
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 149);
    transition: ease-in-out 4s;
}
.logo-header img:hover{
    transform: rotateZ(1440deg)
    
    
    
    
    
}

p{
    text-shadow: 4px black;
}

.rodape{
    border-top: 3px solid rgb(180, 28, 160);
   
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.alien{
    font-family: alien;
    
}

.p_rodape{
    font-size: 1em;
    color: white;
    

}

.rodape .alien{
    font-size: 20px;
    color: white;
}

.img-rodape{
    width: 50px;
    border-radius: 50%;
    
}








